{{!-- views/auth/login.hbs --}}
{{>navbar}}

<div class="div-signin d-flex justify-content-center align-content-center flex-wrap" id="form">
    <section>
        <img class="img-form-signin" src="/images/495623-PI3AWD-314.jpg" alt="">
    </section>
    <section class="section-form-signin-rectangle d-flex align-content-center justify-content-center flex-wrap">
        <h1 class="sign-h1">

        Bem-vindo de volta a Book<span class='span-logo'>_</span>Share
        </h1>
            
            
    <form class="d-flex flex-column text-center" action="/login" method="POST">
        <label for="input-email">Email</label>
        <input type="email" id="input-email" name="email" placeholder="Your email" />

        <label for="input-password">Password</label>
        <input type="password" name="password" id="input-password" placeholder="********" />

        <button type="submit">Login</button>

        {{#if errorMessage}}
            <p class="error">{{errorMessage}}</p>
        {{/if}}
    </form>
    </section>
</div>