{{!--views/auth/signup.hbs --}}

{{>navbar}}

<div class="div-signup d-flex justify-content-center align-content-center flex-wrap" id="form">
  
  <section>
    <img class="img-form-signup" src="images/495623-PI3AWD-314.jpg" alt="">
  </section>
  <section class="section-form-signup-rectangle d-flex align-content-center justify-content-center flex-wrap">
   <h1 class="sign-h1">Junte-se a Book<span class="span-logo">_</span>Share</h1>
    <form class="d-flex flex-column text-center" action="/signup" method="POST">
   
    <label for="input-username">Nome</label>
    <input type="text" id="input-username" name="username" placeholder="Digite seu nome aqui!" />

    <label for="input-email">Email</label>
    <input type="email" id="input-email" name="email" placeholder="Digite seu email aqui!" />

    <label for="input-password">Senha</label>
    <input type="password" name="password" id="input-password" placeholder="********" />

    <button type="submit">Create account</button>

    {{!-- error message will be added here --}}
    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
  </section>
  
</div>