<footer id="footer-contato" class="d-flex justify-content-between">
    
  <div class="w-100 d-flex justify-content-around  align-content-center flex-wrap">
    
    

    <p class="a-footer" href="">Cridado por: <a href="https://github.com/victormonteiro2">Victor Monteiro</a> e <a href="https://github.com/xpedrotavares">Pedro Tavares</a></p>
    
    <img class="logo-ironhack" src="/images/ironhack-logo.png" alt="">
    
    <div class="div-email justify-content-center">

    <img class="  email-icon" src="images/email-icon.png" alt="">
    <a class="a-footer-email">saq@livrese.com</a>
    </div>
       
  </div>
</footer>