<footer id="footer-contato" class="d-flex justify-content-between">
    
  <div class="w-100 d-flex justify-content-around  align-content-center flex-wrap">
    
    

    <a class="a-footer" href="">cridado por: Victor e Pedro Taveres</a>
    
    <img class="logo-ironhack" src="/images/ironhack-logo.png" alt="">
    
    <div class="div-email justify-content-center">

    <img class="  email-icon" src="images/email-icon.png" alt="">
    <a class="a-footer">saq@livrese.com</a>
    </div>
       
  </div>
</footer>