{{!-- {{#unless index}} --}}

<nav class="navbar navbar-light" style="background-color: #F7EEE9;">
  <a class="navbar-brand logo" href="#">Book<span class="span-logo">_</span>Share</a>
    
    <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#como-funciona">Como funciona</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/library">library</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="#footer-contato">Contato</a>
  </li>
    <li class="nav-item">
      <a class="nav-link" href="/userProfile">Perfil</a>
    </li>
  {{#if userInSession}}
    <form class="nav-item form-inline" id="logout-form" action="/logout" method="POST">
    <button class="nav-btn btn-style">Logout</button>
  </form>
  {{else}}
   <li class="nav-item">
    <a class="nav-link" href="/login">Sign in</a>
  </li>
      <li class="nav-item btn-style" id="">
    <a class="nav-link" href="/signup">Cadastre-se</a>
  </li>
  {{/if}}
</ul>
</nav>