{{>navbar}}

<div class="d-flex justify-content-center align-content-center flex-wrap div-first-displayed-content">


<section class="align-self-center" >
  <h1>Troque livros com<br> quem ama leitura<br> igual a você!</h1>
  <p>Economize dinheiro, encontre pessoas interessantes e consuma menos.</p>
  </section>

  <section >
    <img class="img-illustration-home" src="images/ilustracao-home.png" alt="">
  </section>


</div>

<div class="div-second-displayed-content">



</div>