{{>navbar}}

<div 
  class="d-flex justify-content-center align-content-center flex-wrap div-first-displayed-content"
>
  <section class="align-self-center">
    <h1>
      Troque livros com<br />
      quem ama leitura<br />
      igual a você!
    </h1>
    <p>Economize dinheiro, encontre pessoas interessantes e consuma menos.</p>
  </section>

  <section>
    <img
      class="img-illustration-home"
      src="images/ilustracao-home.png"
      alt=""
    />
  </section>
</div>

<div class="div-second-displayed-content container-fluid">
  <div class="row">
    <div class="div-left d-flex flex-column align-content-center flex-wrap col">
      <fieldset>
        <h1>
          Como a<br />
          Book<span class="span-logo">_</span>Share<br />
          funciona?
        </h1>
        <legend>
          É super simples dê uma olhada <span class="arrow"> ---------></span>
        </legend>
      </fieldset>
    </div>
    <div class=" d-flex flex-column justify-content-center align-content-center flex-wrap  col-4 col-9">
<div class=" row">
      <section class="section-text-faq section-text-faq-para-enviar ">
        <h2>
          <span class="span-logo">Para enviar um livro</span><br />
          basta cadastrar seus<br />
          livros disponiveis
        </h2>
        <p>
          depois do seu login vá no menu Perfil > Livros disponibilizados >
          cadastrar livro
          <br class="br-faq" />
          Depois de disponibilizado usuários poderão solicitar seu livro, basta
          aceitar a solicitação e você será guiado durante o processo de envio.
        </p>
      </section>

      
      <section class="section-text-faq">
        <h2>
          <span class="span-logo">Para receber</span> basta marcar
            
          os livros que você procura
        </h2>
        <p>
          depois do seu login vá no menu Livros > Pesquisar livro e basta clicar
          em Solicitar <br class="br-faq" />
          Depois é só aguardar se algum usuário aceitará a sua solicitação.
        </p>
      </section>
</div>
<div class="faq-second-row row">

      <section class="section-text-faq section-text-faq-pontuacao">
        <h2>
          <span class="span-logo">E a pontuação</span>, como<br />
          funciona?
        </h2>
        <p>
          1 livro doado corresponde a 1 ponto recebido.
          <br class="br-faq" />
          Cada livro na Book_share vale 1 ponto.
        </p>
      </section>
      <section class="section-text-faq">
        <h2><span class="span-logo">E a entrega</span>, quem paga?</h2>
        <p>O custo de envio do livro é do remetente.</p>
      </section>
</div>
    </div>
    {{!--
    <div class="col-6 col-10">sdfsdfsdfsd</div>
    --}}
  <span id="como-funciona"></span>
  </div>
</div>
<footer id="footer-contato" class="d-flex justify-content-between">
    
  <div class="d-flex  align-content-center flex-wrap">
    <img class="logo-ironhack" src="/images/ironhack-logo.png" alt="">
    <div>

    <a href="">cridado por: Victor e Pedro Taveres</a>
    </div>
    <div>

    <img class="  email-icon" src="images/email-icon.png" alt="">
    <a class="a-footer">saq@livrese.com</a>
    </div>
    
  </div>
</footer>
