<div class="d-flex flex-column justify-content-center align-items-center">

    {{!-- <img class="img-fluid " src="" alt="beer"> --}}
    <a href="/search" class="btn btn-lg btn-primary m-2">Check the Beers!</a>
    {{!-- <a href="" class="btn btn-lg btn-primary m-2">Check a Random Beer</a> --}}

</div>