body {
  padding: 0px;
  font-family: 'Roboto', sans-serif; }

/* a {
  color: #00B7FF; } */


  /*  layout.hbs style */

  li a {
  color: black;
  font-size: 16px;
  font-weight: 300;
}

.logo {
  font-weight: 500;
  font-size: 25px;
}

.span-logo {
  color: #F15228;
}

nav {
  height: 80px;
}
.navbar {  
  
  padding-left: 15vw;
  padding-right: 15vw;
}

.btn-style a {
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.btn-style a, button {
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.btn-style {
  
  border: 1px solid #F15228;
  border-radius: 3px;
  background-color: #F15228;
  
}

/* index.hbs style */

.div-first-displayed-content {
  height: 91vh;
}



.div-first-displayed-content h1 {
  font-size: 56px;
}

.div-first-displayed-content p {
  font-size: 17px;
}

.img-illustration-home {
  width: 700px;
}


/* index.hbs style second displayer content  */

.faq-second-row {
margin-top: 50px;
}

.section-text-faq-para-enviar{
  margin-right: 250px;
}
.section-text-faq-pontuacao{
  margin-right: 250px;
}
.div-second-displayed-content {
  height: 100vh;
  background-color: #F7EEE9;
}

.div-left {
  background-color: white;
  height: 100vh;
}

.div-left h1 {
  margin-top: 200px;
  font-size: 50px;
  font-weight: 900;
  /* border-left: 2px solid #3C4DED; */
  padding-left: 15px;
  
}

fieldset {
  border-bottom: 25px solid #3C4DED;
  border-left: 2px solid #3C4DED
}
legend{
  color: white;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  
  /* left: 10px;  */
  /* transform: translate(-10%, 10%);  */
  padding-top: 2px;
  padding-left: 10px;
  
}
.arrow {
  color: black;
}

.section-text-faq {
  width: 320px;
}
.section-text-faq h2 {
  font-size: 30px;
  font-weight: 700;
}

.section-text-faq p {
  font-size: 15px;
  font-weight: 300;
}

.br-faq {
  margin-top: 100px;
}


/* index.hbs footer style */
footer {
  height: 70px;
  background-color: #2B395E;
}

footer div {
  /* height: 70px; */
}
.logo-ironhack{
  width: 60px;
  /* height: 60px; */
}

.email-icon {
  justify-self: end;
  padding-top: 10px;
  width: 30px;
}

.a-footer{
  padding-top: 14px;
  color: white;
  padding-left: 15px;
}
/* profile.hbs style */
.profile-rectangle{
  height: 90vh;

}

/* layout profile-user.hbs */
.div-profile {
 
  height: 80vh;
  background-color: white;
}
.name-section-profile {
  width: 400px;
}
.div-profile-row{
  
  height: 92vh;
}
.div-profile-left h4 {
  padding-top: 20px;
  text-align: center;
  font-weight: 500;
}
.div-profile-left{
  background: rgb(238,174,202);
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.btn-edit-profile {
  align-self: center;
  border-radius: 50px;
  color: #2B395E;
  background-color: white;
  width: 200px;
}

/* .div-profile-right{
 
} */

.rounded-photo-frame {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.rounded-photo-frame img {
  width: 100%;
  height: auto;
}

.section-score-btn {
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;

}

.p-score {
  margin: 0;
  padding: 5px 8px 5px 8px;
  /* padding-top: 5px;
  padding-bottom: 5px; */
}

.profile-hr {
 border-color: #2B395E;
}

.section-seus-livros p{
border: 1px solid white;
background-color: white;
border-radius: 50px;
padding: 5px 8px 5px 8px;

}
.section-seus-livros a {
  color: black;
}


/* style signup.hbs */

.btn-sign-in-out {
  color:white;
  background-color: #F15228;
  border-radius: 50px;
  border-color: #F15228;



}

.span-azul {
  color: #3C4DED;
}

.sign-in-h1 {
  text-align: center;
  padding-right: 10px;
  padding-left: 10px
}

.sign-up-h1 {
  text-align: center;
  padding-right: 10px;
  padding-left: 10px
}
.div-signup {
height: 91vh;
}

.img-form-signup {
width: 584px;
}

.section-form-signup-rectangle {
width: 382px;
/* background: rgb(238,174,202); */
  background: linear-gradient(90deg, rgba(243,231,233,1) 0%, rgba(227,238,255,1) 100%);

margin-left: -1px;  
}

.section-form-signup-rectangle input {
border-radius: 50px;
width: 300px;
height: 35px;
align-self: center;
}

.section-form-signup-rectangle label {
padding-top: 25px;
}

.section-form-signup-rectangle :placeholder-shown {
padding-left: 20px;
}

.section-form-signup-rectangle button {
border-radius: 50px;
margin-top: 30px;
width: 150px;
align-self: center;
}

/* style signin.hbs */


.div-signin {
  height: 91vh;
  }
  
  .img-form-signin {
  width: 584px;
  }
  
  .section-form-signin-rectangle {
  width: 382px;
  /* background: rgb(238,174,202); */
    background: linear-gradient(90deg, rgba(243,231,233,1) 0%, rgba(227,238,255,1) 100%);
  
  margin-left: -1px;  
  }
  
  .section-form-signin-rectangle input {
  border-radius: 50px;
  width: 300px;
  height: 35px;
  align-self: center;
  }
  
  .section-form-signin-rectangle label {
  padding-top: 25px;
  }
  
  .section-form-signin-rectangle :placeholder-shown {
  padding-left: 20px;
  }
  
  .section-form-signin-rectangle button {
  border-radius: 50px;
  margin-top: 30px;
  width: 150px;
  align-self: center;
  }

/* style library.hbs */

.form-library {
  padding-top: 50px;
  height: 5vh;
}
.library-imgs {
  width: 150px;
  align-self: center;
  padding-bottom: 10px;
}

.card-library  {
  border: 1px solid #2B395E;
  padding-left: 20px;
  padding-right: 20px;

}


.bold {
  font-weight: bold;
}

.card-library form button {
  width: 100px;
  border-radius: 50px;
  justify-self: center;
  background-color: white;
  color: #2B395E;
  border: 1.5px solid #2B395E;
}

.form-search-library input{
  /* border-radius: 5px; */
  border: 1px solid #2B395E;
  width: 350px;
  margin-right: -14px;
}

.form-search-library button{
  /* border-radius: 5px; */
  color: #2B395E;
  border: 1px solid;
  border-color: #2B395E;
  background-color: white;
  height: 28px;

}

.div-title-library h2 {
  font-size: 50px;
  font-weight: bolder;
  color: #2B395E;
  padding-top: 50px;
  padding-bottom: 50px;
}


.div-library {
  padding-top: 60px;
  width: 100vw;
} 

/* .div-cards-library {
  height: 400px;
} */

/* style avaiable/userProfile.hbs */
.card-profile-imgs {
  width: 120px;
  height: 140px;
  padding-right: 20px;
  
  
}

.card-profile  {
  border: 1.5px solid #2B395E;
  width: 490px;
  
  margin-bottom: 20px;
  /* padding-right: 20px; */

}

.div-card-profile {
  padding-right: 200px;
  padding-left: 200px;
}

.text-title-card-profile {
  font-size: 20px;
  font-weight: 600;
  
  margin-top: 200px;
}

.p-card-profile {

padding-top: 10px;
}

i {
font-weight: 300;
}

.h2-profile{
  text-align: center;
  color: #2B395E;
  padding-top: 50px;
  padding-bottom: 50px;
}

.div-avaible h2 {
  color: #2B395E;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.div-forms-avaibles button {
  margin-left: 25px;
  margin-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */


/*# sourceMappingURL=style.css.map */