<div class="div-mother-edit-user d-flex align-content-center flex-column flex-wrap">

<h2>Edite suas informações:</h2>

{{#with response}}
<form action="/edit-user" method="POST">

    <label for="name">Nome:
    <input placeholder="Digite aqui seu novo nome!" type="text" name="name" value="{{name}}">
    </label>

    <button class="btn-edit-user" type="submit">Salvar</button>
</form>

{{/with}}
</div>