{{>navbar}}
<div class="div-avaible">
  

    <h2>Livros Procurados:</h2>
  
{{#each book}}
      <div class=" d-flex flex-row justify-content-center flex-wrap col-12">

<div class=" col-4">
  <div class="card div-cards-library card-library">
    <img class="library-imgs card-img-top" src="{{thumbnail}}" alt="Book image">
    <p><span class="bold">Title:</span> {{title}}</p>
    <p><span class="bold">Authors:</span> {{authors}}</p>
    <p class="overflow-ellipsis"><span class="bold">Description:</span> {{description}}</p>
      <div class="d-flex flex-row justify-content-center">

      <form action="/remove-wishlist" method="GET">
     <button type="submit">Remover</button>
     </form> 
      </div>
     </div>
  </div>
</div>
{{/each}}
  </div>
  {{>footer}}
</div>